[Desktop Entry]
Name=Beremiz
GenericName=Beremiz
Exec=beremiz
Icon=org.beremiz.Beremiz
Terminal=false
Type=Application
Categories=Application;X-Accessories;
